/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: #000000;
    grid-area: nav;
    margin-top: 0px;
}

    nav a {
        background-color: #000000;
        display: block;
        float: left;
        font-size: 21px;
        color: white;
        padding: 20px 20px 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

img {
    width: 100px;
    height: 100px;
}

.box {
    border: solid;
    height: 100px;
    width: 100px;
}

.max-width-form {
    max-width: 400px;
}

.flex-form {
    display: flex;
    justify-content: flex-end;
}

.bordered {
    border: solid;
    min-height: 100px;
    min-width: 100px;
}
tbody {
    border: solid;
}

tr {
    border: solid;
}

.small-box {
    margin: 0px;
    border: solid;
    height: 18px;
    min-width: 5px;
    max-width: 18px;
}

.flex-colors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between flex-start;
    max-width: 60px;
    max-height: 100px;
}

td.row-name-column {
    background-color: lightcoral;
    padding: 0px;
}

.options-select {
    max-width: 40px;
}
.grey {
    background-color: grey        !important;
}
.red {
    background-color: lightcoral       !important;
}

.blue {
    background-color: cornflowerblue     !important;
}

.orange {
    background-color: orange    !important;
}

.purple {
    background-color: mediumpurple      !important;
}

.green {
    background-color: forestgreen       !important;
}

.yellow {
    background-color: yellow            !important;
}

.brown {
    background-color: saddlebrown       !important;
}

.white {
    background-color: ghostwhite        !important;
}

.gold {
    background-color: goldenrod         !important;
}

.darkred {
    background-color: darkred       !important;
}

.aqua {
    background-color: aqua          !important;
}