@model IList<TierListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>TierListMaker</h1>

<a asp-action="AddTierList">Add New Tier List</a>

@foreach (var tierlist in Model)
{

<h2>@tierlist.Name</h2>
<table class="table table-striped">
    <tbody class="tierlist">

    @foreach (var kvp in tierlist.FullTierList)
    {
        <tr>
            <td class="@tierlist.RowColors[kvp.Key]"><h2 class="row-name">@kvp.Key</h2></td>
            @foreach (var item in kvp.Value)
            {
                <td class="box image-spots"><img src=@item.ImagePath /></td>
            }
        </tr>

    }
    </tbody>
</table>
    <br />
    <hr />
}
